<!doctype html>
<html lang="ru">
    {% extends "base.html" %}
    {% block content %}

    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>

      <div class="container">
          <div class="alert alert-info">
            <p>
              {% if user.is_authenticated %}
                    Привет, {{ user.get_username }}.
                     А мы уже без тебя заскучали!
                      Как хорошо, что ты вернулся.
              {% else %}
                    Привет, нубик. Рады видеть тебя на PythonNoobs!
              {% endif %}
            </p>
          </div>
        </div>

    </body>
    {% endblock %}
</html>
