{% extends 'blog/base_blog.html' %}

{% load static %}

{% block title %}
    <title>{{ post.title }} - {{ block.super }}</title>
{% endblock %}

{% block content %}

    <div class="card mb-2" id="comment_container">

        {% include 'blog/includes/post_card_template.html' %}

        {% if request.user.is_staff %}
            <div class="card-footer text-muted">
                <a class="btn btn-warning" href="{{ admin_object.get_update_url }}">Редактировать</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    Удалить
                </button>
                {% include 'blog/includes/post_delete_dialog.html' %}
            </div>
        {% endif %}

        <div class="card-footer text-muted" id="comments">
            <div class="row justify-content-start" id="comment_header_row">
                <div class="col" id="comment_header_col">
                    {% if comments.count %}
                        <h5 class="card-title" id="comment_header_col_text">Комментарии:</h5>
                    {% else %}
                        <h5 class="card-title" id="comment_header_col_text">Комментариев пока нет</h5>
                    {% endif %}
                </div>
            </div>
            {% for comment in comments %}
                <div class="row justify-content-start" id="{{ comment.id }}">
                    <div class="col-md-{{ comment.get_col }} offset-md-{{ comment.get_offset }}"
                         id="col_offset_comment_{{ comment.id }}">
                        <div class="card bg-light mb-1">
                            <div class="card-header">
                                <strong>{{ comment.author_id.username }}</strong> написал
                                {{ comment.pub_date|date:"D, d M Y H:i:s e " }}
                                <a href="#comment-{{ comment.id }}">#</a>

                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ comment.content|safe }}</p>
                                {% if form %}
                                    <button type="button" class="btn-primary btn-sm"
                                            onclick="return show_comments_form({{ comment.id }})">
                                        Ответить
                                    </button>
                                {% endif %}
                            </div>
                            <div class="card-header" id="like-comment-section-{{ comment.id }}">
                                {% include 'blog/includes/like_comment.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if form %}
    <div class="card mb-2" id="comment_text_form_container">
        <div class="card-footer text-muted" id="comment_text">
            <div class="row justify-content-start" id="comment_form_container">
                <div class="col mb-2" id="col_offset_comment_form_container">
                    <h5 class="card-title" id="comment_header_text">Написать комментарий</h5>
                    <form id="comment_form" action="" method="post">
                        <input type="hidden" id="hidden_comment_form"
                               value="{{ request.user }}" data-post="{{ post.slug }}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}

                                {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" id="comment_button" value="Комментировать"/>
                        <input type="hidden" class="btn btn-warning" id="return_comment_button"
                               onclick="return return_comments_form()" value="Отменить" />

                    </form>
                </div>
            </div>
    {% else %}
        <div class="container">
            <div class="card border-warning mb-3">
                <div class="card-header">Комментировать</div>
                <div class="card-body text-warning">
                    <p class="card-text">Только авторизованные пользователи могут оставлять комментарии</p>
                </div>
            </div>
        </div>
    {% endif %}
        </div>
    </div>

{% endblock %}

{% block footscript %}

    <script type="text/javascript" src="{% static 'js/comments.js' %}"></script>

    <script>
        var socket_url = 'ws://' + window.location.host + window.location.pathname
        var socket = new WebSocket(socket_url)

        socket.onmessage = function(event){
            var data = JSON.parse(event.data)
            var new_comment = JSON.parse(data['new_comment'].slice(1,data['new_comment'].length-1))['fields']
            var new_comment_id = JSON.parse(data['new_comment'].slice(1,data['new_comment'].length-1))['pk']
            var parrent_comment = data['parrent_comment']
            var comment_author = data['author']
            var comment_get_col = data['get_col']
            var comment_get_offset = data['get_offset']
            var comment_total_likes = data['total_likes']
            var comment_total_dislikes = data['total_dislikes']
            var comment_date = new Date(Date.parse(new_comment['pub_date'])).toUTCString()
            var likes = new_comment['likes']
            var dislikes = new_comment['dislikes']

            // Create div for new comment
            var div = document.createElement('div');
            div.className = "row justify-content-start"
            div.id = new_comment_id

            // Create all included div's with all variables for new_comment
            var new_comment_html =
                `<div class="col-md-` + comment_get_col + ` offset-md-` + comment_get_offset + `">
                    <div class="card bg-light mb-1">
                        <div class="card-header">
                            <strong>` + comment_author + `</strong> написал ` + comment_date + ` <a href="#comment-` + new_comment_id + `">#</a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">` + new_comment.content + `</p>
                            {% if form %}
                                <button type="button" class="btn-primary btn-sm" onclick="return show_comments_form(` + new_comment_id + `)">
                                    Ответить
                                </button>
                            {% endif %}
                        </div>
                        <div class="card-header" id="like-comment-section-` + new_comment_id + `">
                            <div class="row">
                                <div class="col-sm">
                                    Лайков: ` + comment_total_likes +
                                `</div>
                                <div class="col-sm">
                                    Дизлайков: ` + comment_total_dislikes +
                                `</div>
                            </div>
                            {% if request.user.is_authenticated and request.user != comment_author %}
                                <div class="row">
                                    <div class="col-sm">
                                        <form action="{% url 'like_comment' %}" method="post">
                                            {% csrf_token %}
                                            {% if request.user in likes %}
                                                <button type="submit" id="like_comment_btn" value="` + new_comment_id + `" class="btn btn-danger">Remove Like</button>
                                            {% else %}
                                                <button type="submit" id="like_comment_btn" value="` + new_comment_id + `" class="btn btn-primary">Like</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                    <div class="col-sm">
                                        <form action="{% url 'dislike_comment' %}" method="post">
                                            {% csrf_token %}
                                            {% if request.user in dislikes %}
                                                <button type="submit" id="dislike_comment_btn" value="` + new_comment_id + `" class="btn btn-danger">Remove Dislike</button>
                                            {% else %}
                                                <button type="submit" id="dislike_comment_btn" value="` + new_comment_id + `" class="btn btn-primary">Dislike</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>`

            // Insert all included div's with all variables to div for new comment
            div.insertAdjacentHTML('afterbegin', new_comment_html)

            // Insert new div to body
            if (parrent_comment) {
                // Insert after parrent comment
                parrent_div = document.getElementById(parrent_comment)
                $(parrent_div).after(div);
                }
            else {
                // Insert after all comments
                $('#comments').append(div);
                }

            // Clear comment_text_area
            document.getElementById("id_comment_area").value = ""

            // Change header comments area for first comment
            header_area = document.getElementById("comment_header_col_text").textContent
            if (header_area == 'Комментариев пока нет'){
                document.getElementById("comment_header_col_text").textContent = 'Комментарии:'
            }
        }

        socket.onopen = function(event){
            var form = $("#comment_form")
            form.submit(function(e){
                e.preventDefault()
                var comment_text = $("#id_comment_area").val()
                var post_slug = $("#hidden_comment_form").attr('data-post')
                var user = $("#hidden_comment_form").val()
                var parrent_comment = $("#id_parent_comment").val()
                data = {
                    'comment_text': comment_text,
                    'post_slug': post_slug,
                    'user': user,
                    'parrent_comment': parrent_comment
                }
                socket.send(JSON.stringify(data))
            })
        }

        socket.onclose = function(event){
            console.log('socket closed', event)
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function(event){
            $(document).on('click', '#like_comment_btn', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                var section = "#like-comment-section-" + pk;
                $.ajax({
                    type: 'POST',
                    url: '{% url "like_comment" %}',
                    data: {'comment_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $(section).html(response['form']);
                        console.log($('#like-comment-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(event){
            $(document).on('click', '#dislike_comment_btn', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                var section = "#like-comment-section-" + pk;
                $.ajax({
                    type: 'POST',
                    url: '{% url "dislike_comment" %}',
                    data: {'comment_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $(section).html(response['form']);
                        console.log($('#like-comment-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(event){
            $(document).on('click', '#like_post_btn', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                var section = "#like-post-section-" + pk;
                $.ajax({
                    type: 'POST',
                    url: '{% url "like_post" %}',
                    data: {'post_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $(section).html(response['form']);
                        console.log($('#like-post-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(event){
            $(document).on('click', '#dislike_post_btn', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                var section = "#like-post-section-" + pk;
                $.ajax({
                    type: 'POST',
                    url: '{% url "dislike_post" %}',
                    data: {'post_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $(section).html(response['form']);
                        console.log($('#like-post-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                });
            });
        });
    </script>
{% endblock %}
