<!doctype html>
<html lang="ru">
{% extends "base.html" %}

{% block content %}

<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>

<body>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}


          <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </div>
          <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </div>

          <div>
            <input class="btn btn-primary btn-block" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

</body>
{% endblock %}