<div class="card-header">
    Опубликовано {{ post.create_date }} пользователем {{ post.author }}.<br>
    Последнее изменение: {{ post.change_date }}<br>
    Лайков: {{ post.total_likes }}
    Дизлайков: {{ post.total_dislikes }}
    {% if not detail and request.user.is_authenticated %}
        <form action="{% url 'like_post' %}" method="post">
            {% csrf_token %}
            {% if is_liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Remove Like</button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
            {% endif %}
        </form>

        <form action="{% url 'dislike_post' %}" method="post">
            {% csrf_token %}
            {% if is_disliked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Remove Dislike</button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Dislike</button>
            {% endif %}
        </form>
    {% endif %}
</div>
<div class="card-body">
    <h3 class="card-title">{{ post.title }}</h3>

        {% if detail %}
            <p class="card-text">{{ post.text|truncatewords:15 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать полностью</a>
        {% else %}
            <p class="card-text">{{ post.text }}</p>
        {% endif %}

</div>
<div class="card-footer text-muted">
    Комментариев: {{ post.comment_set.count }}.
    Категория:
    <a href="{{ post.category.get_absolute_url }}" class="badge badge-success">{{ post.category.name }}</a>
    Теги:
    {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}" class="badge badge-secondary">{{ tag.name }}</a>
    {% endfor %}
</div>