{% extends 'base.html' %}

{% block admin-panel %}

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'post_create_url' %}">Create Post</a>
    <a class="dropdown-item" href="{% url 'category_create_url' %}">Create Category</a>
    <a class="dropdown-item" href="{% url 'tag_create_url' %}">Create Tag</a>

{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not prev_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                {% for n in page_object.paginator.page_range %}
                    {% if n == page_object.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if not next_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ next_url }}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
