{% extends 'blog/base_blog.html' %}

{% block title %}
    <title>Delete Tag "{{ tag.name|title }}" - {{ block.super }}</title>
{% endblock %}

{% block content %}

    <form class="" action="{{ tag.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3>Are you sure you want to delete <b>"{{ tag.name|title }}"</b> tag?</h3>
        <p><a href="{{ tag.get_absolute_url }}">Cancel</a></p>

        <button class="btn btn-danger" type="submit">Delete Tag</button>
    </form>

{% endblock %}
