{% extends 'blog/base_blog.html' %}

{% block title %}
    <title>{{ post.title }} - {{ block.super }}</title>
{% endblock %}

{% block content %}

    <h1 class="mt-5">
        {{ post.title }}
    </h1>
    <hr>
    <p>Автор: {{ post.author }}</p>
    <p>Категория: {{ post.category }}</p>
    <p>Опубликовано: {{ post.create_date }}</p>
    <p>Последнее изменение: {{ post.change_date }}</p>
    <hr>
    <p>
        {{ post.text }}
    </p>
    <p>
        Tags:
        {% for tag in post.tags.all %}
            {{ tag }}
        {% endfor %}
    </p>


    {% if detail and request.user.is_staff %}
        <a class="btn btn-warning" href="{{ admin_object.get_update_url }}">Редактировать</a>

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#postDeleteModal">
            Удалить
        </button>
        {% include 'blog/includes/post_delete_dialog.html' %}

    {% endif %}


{% endblock %}
