{% extends 'blog/base_blog.html' %}

{% block title %}
    <title>{{ post.title }} - {{ block.super }}</title>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            Опубликовано {{ post.create_date }} пользователем {{ post.author }}.<br>
            Последнее изменение: {{ post.change_date }}
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.text }}</p>

        </div>
        <div class="card-footer text-muted">
            Категория:
            <a href="{{ post.category.get_absolute_url }}" class="btn-success btn-sm">{{ post.category.name }}</a>
            Теги:
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}" class="btn-secondary btn-sm">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            {% if detail and request.user.is_staff %}
                <a class="btn btn-warning" href="{{ admin_object.get_update_url }}">Редактировать</a>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#postDeleteModal">
                    Удалить
                </button>
                {% include 'blog/includes/post_delete_dialog.html' %}

            {% endif %}
        </div>
    </div>





{% endblock %}
