{% extends 'blog/base_blog.html' %}

{% block title %}
    <title>{{ tag.name }} - {{ block.super }}</title>
{% endblock %}

{% block content %}

    {% if detail and request.user.is_staff %}
        <a class="btn btn-warning" href="{{ admin_object.get_update_url }}">Редактировать</a>

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tagDeleteModal">
            Удалить
        </button>
        {% include 'blog/includes/tag_delete_dialog.html' %}
    {% endif %}

    <h1 class="mt-5">
        Posts with "{{ tag.name|title }}" tag
    </h1>

    {% for post in tag.posts.all %}
        {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}

{% endblock %}
