<!doctype html>
<html lang="ru">
    {% extends "base.html" %}
    {% block content %}

    <head>
        <meta charset="utf-8">
        <title>Active Quiz page</title>
    </head>
    <body>
        <h1>Active Quiz page</h1>
        <h1>{{ active_quiz_key }}</h1>
        <p></p>
        <p></p>
        <h4>Question text: {{ active_question.question.question_text }}</h4>
        <p></p>
        <h4>Answers dict: {{ active_question.question.answers_dict }}</h4>
                


    </body>
    {% endblock %}
</html>