<!doctype html>
<html lang="ru">
    {% extends "base.html" %}
    {% block content %}

    <head>
        <meta charset="utf-8">
        <title>Questions page</title>
    </head>
    <body>
        <h1> Welcome to the questions page </h1>

        <h3>Quiz Name: {{quiz_name}} </h3>

        {% for question in active_quiz_questions %}
        
        <p><a href="#"> {{question.question.question_text}} </a></p>
        <p>{{question.question.answers_dict}} </p>
        
        {% endfor %}

    </body>
    {% endblock %}
</html>